@{
	ViewData["Title"] = ViewData["OrganizationName"];
	Organization myOrg = Model;
}

<h1>@ViewData["Title"]</h1>

<img src="~/LogoFiles/@myOrg.LogoFile" class="img-fluid" alt="Organization Logo">

<h2>Address: @ViewData["address"], @ViewData["city"], @ViewData["region"], @ViewData["country"] </h2>
<br />
<h3>Amount Raised: @ViewData["amountDonated"]</h3>

<!-- Donation Form -->
<!-- Donation Form -->
<form id="donationForm">
    <label for="donationAmount">Enter Donation Amount: $</label>
    <input type="number" id="donationAmount" name="donationAmount" step="0.01" required>

    <button type="button" class="round-button" id="donater">Donate Now!</button>
</form>

<script>
    document.getElementById('donater').addEventListener('click', function () {
        console.log('Button clicked');

        var donationAmount = parseInt(document.getElementById('donationAmount').value);

        console.log('Sending AJAX request with donationAmount:', donationAmount);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Donate", "Home")',
            data: {
                donationAmount: donationAmount,
                organization: myOrg
            },
            success: function (data) {
                console.log('AJAX request successful. Response:', data);

                if (data.success) {
                    alert('Donation successful!');
                    window.location.reload();
                } else {
                    alert('Donation failed. Please try again.');
                }
            },
            error: function (error) {
                console.error('Error donating', error);
            }
        });
    });
</script>

<div id="paypal-donate-button-container"></div>

<script>
    PayPal.Donation.Button({
        env: 'sandbox',
        hosted_button_id: 'YOUR_SANDBOX_HOSTED_BUTTON_ID',
        image: {
            src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
            title: 'PayPal - The safer, easier way to pay online!',
            alt: 'Donate with PayPal button'
        },
        onComplete: function (params) {
            // Your onComplete handler
        },
    }).render('#paypal-donate-button-container');

   
</script>

<style>
    .round-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 50%;
        background-color: #3498db; /* Blue background color */
        color: #555; /* Grey text color */
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }

        .round-button:hover {
            background-color: #2980b9; /* Darker blue on hover */
        }
</style>