@{
    MyDBContext _context = Model;
    List<Donations> donations = _context.Donation.ToList();
}

<html>
<head>
    <title>Donation List</title>
    <link rel="stylesheet" type="text/css" href="~/css/tables.css">
</head>
<body>
    <h2>Donation List</h2>

    <table>
        <thead>
            <tr>
                <th>Receipt Number</th>
                <th>Date</th>
                <th>OrganizationId</th>
                <th>Donor Name</th>
                <th>Amount</th>
                <th>Payment Method</th>
                <th>User ID</th>
                <th>Card ID</th>
                <th>Frequency</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var donation in donations)
            {
                <tr>
                    <td>@donation.ReceiptNumber</td>
                    <td>@donation.Timestamp?.ToString("yyyy-MM-dd")</td>
                    <td>@donation.OrganizationId</td>
                    <td>@donation.DonorFullName</td>
                    <td>@donation.Amount</td>
                    <td>@donation.PaymentMethod</td>
                    <td>@donation.UserId</td>
                    <td>@donation.CardId</td>
                    <td>@donation.Frequency</td>
                    <td>
                        <button class="btn btn-warning rounded" onclick="editRow(this)">Edit</button>
                        <button class="btn btn-success rounded" style="display:none;" onclick="saveRow(this, @donation.ReceiptNumber)">Save</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section Scripts {
    <script>
        function editRow(button) {
            var row = button.parentNode.parentNode;
            row.classList.add("edit-mode");
            var cells = row.getElementsByTagName("td");

            for (var i = 1; i < cells.length - 1; i++) { // Exclude the last cell with buttons
                var cell = cells[i];
                var value = cell.innerText;
                cell.innerHTML = "<input type='text' value='" + value + "'>";
            }

            // Toggle buttons
            button.style.display = "none";
            button.nextElementSibling.style.display = "inline-block";
        }

        function saveRow(button, receiptNumber) {
            var row = button.parentNode.parentNode;
            row.classList.remove("edit-mode");
            var cells = row.getElementsByTagName("td");

            var updatedDonation = {
                ReceiptNumber: parseInt(receiptNumber),
                Timestamp: cells[1].firstChild.value, // Convert the input value to a Date object
                OrganizationId: parseInt(cells[2].firstChild.value),
                DonorFullName: cells[3].firstChild.value,
                Amount: parseFloat(cells[4].firstChild.value), // Convert the input value to a float
                PaymentMethod: cells[5].firstChild.value,
                UserId: parseInt(cells[6].firstChild.value),
                CardId: parseInt(cells[7].firstChild.value),
                Frequency: cells[8].firstChild.value,

                Organization: null,
                User: null,
                Card: null
            };
            var updatedDonationJSONString = JSON.stringify(updatedDonation);
            
            $.ajax({
                url: '/Home/EAUpdateDonation',
                method: 'POST',
                data: { updatedDonation: updatedDonation },
                success: function (data) {
                    location.reload();
                    alert("Changes have been saved.");
                },
                error: function (error) {
                    console.error('Error updating row:', error);
                }
            });


            button.style.display = "none";
            button.previousElementSibling.style.display = "inline-block";
        }
    </script>
    }
</body>
</html>
