@{
	ViewData["Title"] = ViewData["OrganizationName"];
	Organization myOrg = Model;
}
<h1>@ViewData["Title"]</h1>
<p>@myOrg.OrganizationId</p>
<p>Address: @ViewData["address"], @ViewData["city"],  @ViewData["region"], @ViewData["country"] </p>





