

@{
    ViewData["Title"] = "Register";
    
}

<h1>@ViewData["Title"]</h1>

 @model EmpathyKick.Models.User

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Account</h4>
        <hr />
        @Html.ValidationSummary(true)
        @if (ViewBag.Message != null)
        {

            <div class="form-group">
                <div class="col-md-10" id="ViewBagData">@ViewBag.Message</div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Username, new { @required = "required" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { @required = "required" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { @required = "required" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { @required = "required" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { @required = "required" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { @required = "required" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="col-md-10">
            
            <input type="checkbox" name="isAdmin" /> 
            <label>Empathy Admin</label>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-primary" id="submitBtn" disabled />
            </div>
        </div>
    </div>
    <style>
        #submitBtn:disabled {
            background-color: #dddddd; 
        }

        #ViewBagData {
            color: red;
            font-weight: bold;
            background-color: yellow;
            padding: 10px;
            margin: 10px;
            border: 2px solid red;
            box-shadow: 2px 2px 5px grey;
        }

    </style>
}



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            var message = @Html.Raw(Json.Serialize(ViewBag.Message));
            if (message == null) {
                // Trigger form submission to initiate validation
                $('form').submit();
            } else {
                $('#submitBtn').prop('disabled', true);
            }
                // Enable/disable submit button based on form validity
                updateSubmitButtonState();
          

            $('form').change(function () {
                updateSubmitButtonState();
            });

            function updateSubmitButtonState() {
                var isValid = true;
                var emailErrorSpan = document.getElementById('Email-error');
                var emailBad = false;

                // Check if the element exists
                if (emailErrorSpan !== null) {
                    // The span element with id 'Email-error' exists
                    console.log('The span element exists.');
                    emailBad = true;
                    console.log(emailBad);
                } else {
                    // The span element with id 'Email-error' does not exist
                    console.log('The span element does not exist.');
                    console.log(emailBad);
                }

                $('form input').each(function () {
                    if ($(this).val() === '') {
                        isValid = false;
                        return false; // break out of the each loop
                    } else if (emailBad) {
                        isValid = false;
                        return false;
                    }
                });

                $('#submitBtn').prop('disabled', !isValid);
            }
        });
    </script>
}


